name: OpenAiClient Test
on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

jobs:
  check:
    environment: OPENAI
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: chmod -R 777 *
        run: chmod -R 777 *

      - name: Init gradle project
        run: ./gradlew clean --scan

      - name: Assemble
        run: ./gradlew assemble --scan

      - name: OpenAiClientTest
        run: ./gradlew test --tests "xyz.cssxsh.openai.OpenAiClientTest" --scan --info
        env:
          OPENAI_TOKEN: ${{ secrets.OPENAI_TOKEN }}

      - name: MiraiOpenAiListenerTest
        run: ./gradlew test --tests "xyz.cssxsh.mirai.openai.MiraiOpenAiListenerTest" --scan --info
        env:
          OPENAI_TOKEN: ${{ secrets.OPENAI_TOKEN }}

      - name: BuildPlugin
        run: ./gradlew buildPlugin

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ github.run_id }}  # v4 同名 Artifact 只能传一次
          path: build/mirai/*
          include-hidden-files: true      # 若你需要上传隐藏文件，就取消注释
